<div class="client-page-header page-header">
	<div id="logo-name-group">
		<img id="client-page-logo" src="{{this.logo}}" alt="{{this.name}} logo" style="width: 100px; height: 100px;">
		<h2 id="client-page-name">{{this.name}}</h2>
	</div>
	<ul id="client-page-requests">
	<li>Request Further Filming</li>
	<li>Request Highlight Reel</li>
	<li>Request DVD Copies. Enter Amount</li>
	</ul>
</div>

{{#each vimeoIds}}
	<div class="vimeoVideo">
		<iframe src="https://player.vimeo.com/video/{{this}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{{/each}}

