<h2 class="page-header"><img src="{{this.logo}}" alt="{{this.name}} logo" style="width: 100px; height: 100px;">
{{this.name}}</h2>

<iframe src="{{this.videos}}" width="500" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></br>

<p>Request Further Filming</p>
<p>Request Highlight Reel</p>
<p>Request DVD Copies. Enter Amount</p>