<h2 class="page-header">User Login</h2>
<form method="post" action="/users/login">
	<div class="form-group">
		<label>Username</label>
		<input type="text" class="form-control" placeholder="Username" name="username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" placeholder="Password" name="password">
		<label id="demo-creds">Demo Login | User: smuyesser | password: 1234</label>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>