<h2 class="page-header">Register A New Client</h2>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">
			{{msg}}
		</div>
	{{/each}}
{{/if}}
<form method="post" id="js-client-register-form" action="/users/registerclient">
	<div class="form-group">
		<label>Client Name</label>
		<input type="text" class="form-control" placeholder="Name" id="js-clientName" name="name">
	</div>
	<div class="form-group">
		<label>Client Logo</label>
		<input type="text" class="form-control" placeholder="Enter Logo url" id="js-clientLogo" name="logo">
	</div>
	<div class="form-group">
		<label>Client Vidoes</label>
		<input type="text" class="form-control" placeholder="Videos" id="js-clientVideos" name="videos">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
