<h2 class="page-header">Search Clients</h2>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">
			{{msg}}
		</div>
	{{/each}}
{{/if}}
<form method="get" id="js-search-client-form" action="/users/searchclient/">
	<div class="form-group">
		<label>Go To Client Page For:</label>
		<select class="form-control" id="js-search-client" name="name">		
		{{#each clients}}
		  <option value="{{this.id}}">{{this.name}}</option>
		{{/each}}
		</select>
	</div>
	<button type="submit" class="btn btn-primary search-btn">Submit</button>
</form>