/* Space out content a bit */
body {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width:  80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: #1B40FC;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header {
  	margin-top: 0px;
  }

div.container div.row footer {
	margin-top: 40px;
}

html {
  background-color: #2AA5D8;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#js-update-client {
  margin-bottom: 10px;
}

#js-client-update-form,
#js-client-delete-form {
  margin-left: 20px;
}

#js-client-update-form input {
  width: ;
  margin-bottom: 5px;
}

h2 {
  color: black;
}

form label {
  color: #001998;
}

.form-msg .hidden {
  display: none;
}

div.client {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.client ul {
  list-style: none;
}

div.client button {
  height: 35px;
  width: 115px;
  margin-bottom: 2px;
}

div.client-container {
  padding: 10px;
  border-bottom: 2px solid #C2C2C2;
}

div.client-list-text {
  display: flex;
  flex-direction: column;
}

div.client-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

img#client-page-logo,
h2#client-page-name {
  display: inline-block;
}

div.client-page-header ul#client-page-requests {
  float: right;
  display: inline;
  list-style: none;
}

ul#client-page-requests li {
  margin-bottom: 3px;
}