/******************************************************************
  BACKGROUND
******************************************************************/

html {
  background-image: url('../images/Video-Game-Collection.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}

div.background {
  background-color:rgba(0, 0, 0, 0.9);
  width: 90%;
  margin: 10px auto;
  padding: 10px auto;
  border-radius: 15px;
    -webkit-box-shadow: 0 5px 3px -3px #313131;
       -moz-box-shadow: 0 5px 3px -3px #313131;
            box-shadow: 0 5px 3px -3px #313131;
}

/* Font and Color main */
body {
  color: #E6E2E2;
  font-family: 'Kreon', serif;
  width: 100%;
  height: auto;
  min-width: 320px;
}

button.btn {
  color: #FFF;
  background-color: #B5A600;
}

div.col-lg-12 {
  height: 75vh;
  overflow-y: auto;
}


/******************************************************************
  MISC
******************************************************************/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: white;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.page-header {
    margin-top: 0px;
  }

div.container div.row footer {
  margin-top: 10px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: flex-start;
}

#js-update-client {
  margin-bottom: 10px;
}

#js-client-update-form,
#js-client-delete-form {
  margin-left: 20px;
}

#js-client-update-form input {
  margin-bottom: 5px;
}

h2 {
  color: #D2BE4C;
  padding: 10px;
}

form label {
  color: #C4BF37;
}

form label#demo-creds {
  font-size: .8em;
  margin: auto;
}

.form-msg .hidden {
  display: none;
}



/******************************************************************
  HEAD
******************************************************************/

div#vid-shelf-header-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

img#shelf-icon {
  height: 40px;
  display: inline;
  margin-right: 8px;
}

h3#vid-shelf-header {
  border-top: 2px solid #FFF000;
  border-bottom: 2px solid #FFF000;
  display: flex;
  height: 40px;
  margin: 0px auto;
  font-size: 2em;
  padding-top: 3px;
}

div nav p {
  text-align: center;
  font-size: .8em;
  margin-top: 2px;
}



/******************************************************************
  NAV
******************************************************************/

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 15px;
}

nav ul.nav {
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #FFF000;
  border-bottom: 1.5px solid #FFF000;
  }

nav ul.nav li {
  display: block;
}

nav ul.nav li a {
  color: #fff;
  padding: 3px;
  font-size: .65em;
}

ul#nav-btn-color li:hover {
  background-color: #FFF000;
}

div.header-order {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/******************************************************************
  CLIENTLIST.HANDLEBARS
******************************************************************/

div.client-container {
  padding: 10px;
  border-bottom: 2px solid #C2C2C2;
  display: flex;
  flex-direction: column;
}

div.client {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

div.client div.orientation-fix {
  display: flex;
  flex-direction: row;
}

div.client img,
img#update-client-img {
  padding: auto;
  border: 2px solid white;
  box-shadow: 2px 2px 3px black;
  display: inline-block;
  border-radius: 10px;
  margin-right: 10px
}

h2.client-list-text-small-header {
  padding: 0;
  display: block;
  font-size: 2em;
  margin: 0px 0px 5px 0px;
}

div.client-list-text-small-detail {
  width: 50%;
  font-size: .8em;
  margin: auto;
  display: block;
}

div.client-list-text {
  display: none;
}

h2.page-header {
  color: #FFF000;
}

div.client ul {
  list-style: none;
  padding: 0px;
  display: flex;
  margin: auto;
}

div.client ul button {
  font-size: .8em;
  padding: 5px;
}

button.client-list-btn  {
  background: #FFF000;
  background-image: -webkit-linear-gradient(top, #FFF000, #9c9200);
  background-image: -moz-linear-gradient(top, #FFF000, #9c9200);
  background-image: -ms-linear-gradient(top, #FFF000, #9c9200);
  background-image: -o-linear-gradient(top, #FFF000, #9c9200);
  background-image: linear-gradient(to bottom, #FFF000, #9c9200);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #000000;
  font-family: 'Kreon', serif;
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  margin: auto 1px;
  border: none;
}

div.client ul button:hover {
  background: #f2ea79;
  background-image: -webkit-linear-gradient(top, #f2ea79, #a8a02f);
  background-image: -moz-linear-gradient(top, #f2ea79, #a8a02f);
  background-image: -ms-linear-gradient(top, #f2ea79, #a8a02f);
  background-image: -o-linear-gradient(top, #f2ea79, #a8a02f);
  background-image: linear-gradient(to bottom, #f2ea79, #a8a02f);
  text-decoration: none;
  cursor: pointer;
}



/******************************************************************
  CLIENTPAGE.HANDLEBARS
******************************************************************/

div.client-page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div#logo-email-group {
    display: flex;
    justify-content: space-around;
  }

  h2#client-page-name {
    display: inline;
    padding: 0px;
    text-align: left;
    margin-left: 0px;
  }

  img#client-page-logo {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
  }

  div.client-page-header ul#client-page-requests {
    display: inline;
    list-style: none;
    padding-left: 0px;
    font-size: .8em;
  }

  ul#client-page-requests li {
    margin-bottom: 10px;
  }

  ul#client-page-requests h4 {
    color: #D2BE4C;
    margin-top: 0px;
  }

  ul#client-page-requests li a {
    color: white;
    text-decoration: none;
  }

  ul#client-page-requests li a:hover {
    color: #FFF000;
  }
  
  div.vimeoVideo {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  iframe {
    width: 90%;
  }


/******************************************************************
  EDITCLIENT.HANDLEBARS
******************************************************************/

img#update-client-img,
h2#update-client-name {
  display: inline-block;
  margin-bottom: 35px;
  margin-right: 5%
}



/******************************************************************
  FOOTER
******************************************************************/

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #B7BB42;
}

.footer {
  text-align: center;
  line-height: 2em;
  font-size: .8em;
}




/******************************************************************
    RESPONSIVE
******************************************************************/

@media screen and (min-width: 480px) {

  /* Header */
  h3#vid-shelf-header {
    font-size: 3em;
    height: 50px;
    padding: 2px;
  }

  img#shelf-icon {
    height: 50px;
  }

  div nav p {
    font-size: 1em;
  }

  /* Nav */
  div ul.nav li a {
    font-size: 1em;
  }

  /* Client list */
  div.client-list-text-small-detail {
    font-size: 1em;
  }

  div.client ul.client-btn li button {
    margin: auto 5px;
  }

  /* Button Size */
  div.client ul button.client-list-btn {
    font-size: 1em;
  }

  /* Client Page */
  ul#client-page-requests h4 {
    font-size: 2em;
  }

  ul#client-page-requests li{
    font-size: 1.25em;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 768px) {

  div.client {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
  }

  div.client ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px 0px auto auto;
  }

  div.client ul li {
    margin-bottom: 5px;
  }

  div.client button {
    height: 35px;
    width: 115px;
    margin-bottom: 2px;
  }

  div.client-container {
    padding: 10px 50px;
    margin-bottom: 10px;
    border-bottom: 2px solid #C2C2C2;
  }

  div.client img,
  img#update-client-img {
    margin-right: 25px;
    border: 2px solid white;
    box-shadow: 2px 2px 3px black;

  }

  h2.client-list-text-small-header,
  div.client-list-text-small-detail {
    display: none;
  }

  div.client-list-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  }

  div.client-list-text h2 {
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  div.client-list-text p {
    margin-bottom: 2px;
  }

  h2.page-header {
    color: #FFF000;
  }

  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  div#vid-shelf-header-icon {
    display: flex;
    align-items: center;
  }

  nav ul.nav li {
    display: inline-block;
  }

  div.header-order {
    display: inline-block;
  }

  div.background {
      width: 80%;
      max-width: 720px;
    }

}

