/*****************************************************
	GENERAL
*****************************************************/

body {
	box-sizing: border-box;
}

div.container {
	width: 50%;
	margin: auto;
	margin-top: 100px;
	background-color: #001385;
	color: white;
	padding: 10px;
}



/*****************************************************
	INDEX
*****************************************************/

#header h1 {
	text-align: center;
}

div.index-btns a {
	text-decoration: none;
}

div.index-btns a button {
	margin-bottom: 5px;
}

div.index-btns p {
	text-align: center;
}



/*****************************************************
	SIGNUP PAGE
*****************************************************/

.form-signup input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-signup-heading {
	text-align: center;
}


